<form action="/blogs" method="post">
    <label> Titre<input name="titre" type="text"></label>
    <label> Bref<input name="bref" type="text"></label>
    <label> Containts<input name="containts" type="text"></label>
    <input name="submit" type="submit">
</form>