<%- include ("./Header.ejs") %>
<h1 >Hello world</h1>
                <h2>Welcome to my website</h2>
                    <div class="item">
                        <div><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis consequatur eligendi qui amet maiores aliquam quasi nesciunt ut quo adipisci fuga reiciendis neque vero quaerat, delectus et optio modi. Esse!</p></div>
                        <div><p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tenetur natus eum saepe! Doloribus saepe molestias eius repellat voluptatum? Recusandae cum dolorum laborum quam quibusdam perspiciatis, maxime beatae alias nisi similique!</p></div>
                    </div>
        </div>
        </div>
    </body>
</html>