<html>
    <head>
        <title>Popo</title>
    </head>
    <body>
        <h1>Bonjour</h1>
        <ul>
            <li><a href="/contact">Contact <%=nom%></a></li>
        </ul>
    </body>
</html>